extends layout

block content
  .jumbotron.jumbotron-fluid.bg-light.py-5
    .container
      h1.text-center= title

      if errors && errors.length > 0
        ul.alert.alert-danger.my-3
          each error in errors
            li= error.msg

      form.col-md-6.mx-auto(action="/signup", method="post")
        div.form-group.mb-3
          label.form-label(for="firstName") First Name:
          input#firstName.form-control(type="text", name="firstName", value=data.firstName || '', required)

        div.form-group.mb-3
          label.form-label(for="lastName") Last Name:
          input#lastName.form-control(type="text", name="lastName", value=data.lastName || '', required)

        div.form-group.mb-3
          label.form-label(for="email") Email:
          input#email.form-control(type="email", name="email", value=data.email || '', required)

        div.form-group.mb-3
          label.form-label(for="password") Password:
          input#password.form-control(type="password", name="password", minlength="5", required)
          
        button.btn.btn-primary(type="submit") Sign Up


      script.
        // Client-Side Password Validation
        const passwordField = document.getElementById('password');
        const form = document.querySelector('form');

        form.addEventListener('submit', (event) => {
          if (!passwordField.validity.valid) {
            // Prevent form submission if password is invalid
            event.preventDefault();
          }
        });
